DirectoryIndex index.php public/index.php

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<FilesMatch "\.(env|sql|log)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
