APP_NAME=NovaCart
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=novacart
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost:5173
SESSION_DOMAIN=localhost

REFERRAL_COMMISSION_PERCENT=5
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
